{% extends 'base.html.twig' %}

{% block main %}
    <a href="{{ path('admin_insert_category') }}">Ajouter une categorie</a>


    {#J'indique à mon twig la création d'article#}

{#    <a href="{{ path('admin-insert-categories') }}">Ajouter un article catégorie</a>#}

    {#j'indique à mon twig que pour chaque catégorie de ma liste il faudra appliquer les mesures suivantes#}
{% for category in categories %}
    <article>
{#        La couleur de mon article sera celle que j'ai appliqué à sa caractéristique "color"#}
        <h2 style="color: {{ category.color }};">{{ category.title }}</h2>
        <P>{{ category.description }}</P>
        <a href="{{ path('admin_show_category', {'id': category.id})}}">Rencontre les animaux du Zoo</a>
{#        //je me l'option de suppression d'un article à mon twig#}
        <br>
        <a href="{{ path ('admin_category_update',{'id':category.id })}}">Voulez-vous modifié cette catégorie? </a>
        <br>
        <a href="{{ path ('admin_delete_category',{'id':category.id })}}">Voulez-vous supprimé cet article? </a>

    </article>
{% endfor %}


{% endblock %}