{% extends 'base.html.twig' %}

{% block title %}
    <title>La liste des articles</title>
{% endblock %}



{% block main %}
    <a href="{{ path('admin_insert_article') }}">Ajouter un article</a>

    <section>
        <a href=""
    </section>

    <section class="articles">

        {% for article in articles %}

            {% if article.isPublished %}
                <article class="article">
                    <h1>{{ article.title }}</h1>
            {% endif %}
                    {% if article.category %}
                        <p>{{ article.category.title }}</p>
                    <p>{{ article.content }}</p>
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_article',{'id':article.id}) }}">En savoir plus sur la qualité</a></li>
                    {#        //je met l'option de suppression d'un article à mon twig#}
                    <br>
                    <a href="{{ path ('admin_update_article',{'id':article.id })}}">Voulez-vous modifié cet article? </a>
                    <br>
                    <a href="{{ path ('admin_delete_article',{'id':article.id })}}">Voulez-vous supprimé cet article? </a>
                </article>
            {% endif %}

        {% endfor %}
    </section>

{% endblock %}

{% block footer %}
    <p>La liste des refs maggle</p>
{% endblock %}